spring:
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    hibernate:
      ddl-auto: create

    defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password: pass
    driver-class-name: org.h2.Driver

logging:
  level:
    org.springframework.security: DEBUG